:root {
  --dark-blue: hsl(216, 12%, 8%);
  --rating-card: hsl(213, 19%, 18%);
  --white: hsl(0, 0%, 100%);
  --orange: hsl(25, 97%, 53%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --paragraph-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--dark-blue);
  font-family: 'Overpass', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.attribution {
  position: absolute;
  bottom: 6px;
}

.attribution > * {
  color: var(--rating-card);
}

.rating {
  background-color: var(--rating-card);
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 350px;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating_icon {
  height: 45px;
  width: 45px;
  background-color: hsl(213, 19%, 20%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating_title {
  margin: 0;
  color: var(--white);
  font-size: 24px;
}

.rating_subtitle {
  margin: 0;
  color: var(--light-gray);
  font-size: 15px;
}

.rating_submit {
  border: 0;
  border-radius: 20px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
  transition: 0.3s;
}

.rating_submit:hover {
  color: var(--orange);
  background-color: var(--white);
}

.rating_options {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0;
  justify-content: space-between;
  display: flex;
}

/* js checkboxes */

.rating_option {
  height: 45px;
  width: 45px;
  background-color: hsl(213, 19%, 21%);
  color: var(--medium-gray);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.checkbox:checked + .rating_option {
  background-color: var(--medium-gray);
  color: var(--white);
}

.rating_option:hover {
  background-color: var(--orange);
  color: var(--white);
}

.checkbox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 99999999px;
}